head{

}

header{
    border-color: black;
    border-width: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

body{
    text-align: center;
    align-items: center;
    background-image: url("images/background1.jpg");
    background-position: center;;
    background-repeat: repeat-y;
    background-color: darkgreen;
    border-radius: 5px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    max-width: 800px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    background-color: brown;
    border-radius: 15px;
    align-items: center;
    text-align: center;
}

h3{
    font-style: normal;
    color: white;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: center;
    align-items: center;
}
h1{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: center;
    align-items: center;
}
hr{
    border-radius: 5px;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
}
img{
    border-radius: 15px;
    text-align: center;
    align-items: center;
}

p{
    margin-bottom: 15px;
    padding-bottom: 15px;
}

p{
    padding-left: 15px;
}
p{}

p{
    padding-right: 15px;
}
form{
    background-color:rgb(44, 87, 0);
    backface-visibility: 50%;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    
}

