


header{
    border-color: black;
    border-width: 5px;
}

body{
    text-align: center;
    align-items: center;
    background-image: url("images/background1.jpg");
    background-position: center;
    background-size: auto;
}
h3{
    font-style: normal;
    color: white;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
h1{
    margin-top: 2.5%;
}
